.pet-gang {
    display: block;
    width: 90%;
    max-height: 60.938rem;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;

    @include respond(phone) {
        padding-top: 100px;
        object-fit: cover;
        width: 475px;
        margin-right: -25px;
    }
}
